<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patac.abstest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/NoTitle"> <!-- 删除状态栏和标题栏 结合style.xml -->
        <activity android:name=".StartActivity">

            <!-- 设置启动时进入的Activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main1"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".ReadActivity" />
        <activity
            android:name=".TabActivity"
            android:theme="@style/FullscreenTheme" />
    </application>

</manifest>